  tautulli:
    container_name: tautulli
    image: linuxserver/tautulli
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: _MEM_LIM
        reservations:
          memory: _MEM_RES
    ports:
      - 8181:8181
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - /media-rollout/appdata/tatulli:/config

